/* Define grid areas */
.header {
    grid-area: header;
}
.nav {
    grid-area: nav;
}
.nav a{
    text-decoration: none;
}
.nav ul {
    list-style-type: none;
    padding-left: 10px;
    font-weight: 700;
}
.main {
    grid-area: main;
}
.aside {
    grid-area: aside;
}
.ad {
    grid-area: ad;
}
.footer {
    grid-area: footer;
}
/* Common styles for grid items */
.ad,.aside,.footer,.header,.nav,.main{
    background-color: bisque;
    border-radius: 10px;
}

/* Default styles for larger screens */
.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header header"
    "nav main main aside"
    "nav main main ad"
    "footer footer footer footer"
    ;
}

/* Media query for screens up to 576px */
@media screen and (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "ad"
            "footer";
    }
}
/* Media query for screens between 577px and 992px */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
        "header header header header"
        "nav    nav     nav     nav"
        "aside  main    main    main"
        "ad     footer  footer  footer";
    }
    .nav ul{
        display: flex;
        justify-content: space-between;
    }
}





