*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: #FF5B22;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    color: white;
    padding: 18px, 36px;
    height: 56px;
}

.btn-primary2 {
    background-color: #FF5B22;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    color: white;
    padding: 18px, 36px;
    height: 56px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Main section */
/* main {
    max-height: 900px;
    margin: 0 auto;
} */

/* Landing page styles */
.landing-page {
    background-image: url(../images/donation7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}
.container {
    /* position: relative; */
    text-align: center;
    color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.landing-title {
    font-size: 60px;
    font-weight: 700;
}

.landing-title2 {
    font-size: 60px;
    font-weight: 700;
}

.landing-description {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

/* Donate styles */
.donate-today{
    max-width: 900px;
    margin: 0 auto;
}
.donate {
    margin-top: 100px;
    text-align:center;
}
/* .donate-intro {

} */
.donate-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
.donate-descriptionp {
    color: #757575;
    margin-bottom: 50px;
}
.donate-amount {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 30px;
    color: #757575;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.donate-amount .donate-200 {
    color: #FF5B22;
    border-radius: 12px;
    border: 2px solid #FF5B22;
    width: 100px;
    height: 100px;
    background: #efe2de;
}

.other-amount {
    margin-bottom: 10px;
    color: #757575;
}

/* Donate Plan styles */

.donate-plan {
    max-width: 900px;
    margin: 0 auto;
}
.donate-plan-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.plan {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
.donate-plan-description {
    color: #757575;
    margin-bottom: 50px;
}
.donate-plan2 {
    display: flex;
    margin-bottom: 50px;
    gap: 50px;
}
.food {
    margin-bottom: 20px;
}
.food-family-title {
    padding: 10px;
}
.shelter {
    margin-bottom: 20px;
}
.shelter-title {
    background-color: rgb(173, 195, 214);
    padding: 10px;
}
.education {
    margin-bottom: 20px;
}
.education-title {
    background-color: bisque;
    padding: 10px;
}

/* Get my updates styles */
.update-title {
    font-size: 50px;
    font-weight: 700;
}
button {
    border: none;
    outline: none;
    padding: 10px 20px;
    gap: 0;
}

button#legal:focus,
button#individual:focus {
    background: blue;
    color: white;
}

.update {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.get-button {
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 40px;
    background-color: #FBECB2;
}

/* Footer styles */
.footer {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-title {
    color:#C70039;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
}

.footer-banner {
    text-align: center;
    color:#efe2de;
    margin: 30px;
}